# Игнорировать всё
*

!Assets
!Assets/Core
# Не игнорировать папку "my_folder"
!Assets/Core/Scripts

# Не игнорировать содержимое папки "my_folder"
!Assets/Core/Scripts**
# Игнорировать все .meta файлы
*.meta

# Не игнорировать файл .gitignore
!.gitignore